@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-max-height {
    transition: max-height 0.5s ease-in-out;
}

.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid white;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

button:disabled {
    opacity: 0.7;
}

@layer components {
    .loaderPage {
        @apply border-4 border-t-4 border-gray-200 border-t-blue-600 rounded-full w-12 h-12;
        animation: spin2 1s linear infinite;
    }

    @keyframes spin2 {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .animate-spin-slow {
        animation: spin2 3s linear infinite;
    }
}

/* styles/globals.css */

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

.shimmer {
    background: linear-gradient(
        to right,
        #f6f7f8 0%,
        #edeef1 20%,
        #f6f7f8 40%,
        #f6f7f8 100%
    );
    background-size: 1000px 100%;
    animation: shimmer 1.5s infinite;
}
